{% extends 'base.html' %}

{% block title %}About | TravelPlanner{% endblock %}

{% block content %}
<div class="container text-center">
    <h1>About Us</h1>

    <p>What started as a small Travel Agency in 1998 has emerged as a Travel Company specializing in nearly all travel related services. Although a new company, it has highly experienced operational and management staff. We are proud to mention that, in a short span of time, we have been recognized by Nationwide Travel Agents, Hotel Suppliers and Travel & Tour Companies. Today (….) has gained more than 10 years of experience in this industry and has been featured as one of the best travel agencies of Pakistan by world renown companies.
 
    <p>The association has become one of the largest service providers in Pakistan for all kinds of tour packages, accommodations, tourism, hospitality and non-stop travelling solutions. It’s the trust of our valuable clients that this organization is successfully carving its niche as the foremost travel and tourism institute serving at par excellence.</p>

    <p>We are proud to share that we have matured excellently in providing optimum tour solutions to assist our valuable clients as soon as they are ready to start their journey. We deliver services that are finest and hand out the best experience at any cost. No matter whether it’s about rent-a-car, radio cab, meet and greet, ticketing or accommodations nationwide, we always make sure you grab the pleasure with ease!
 
    <p>Book your tickets on the spot with us as our wonderful team is always ready to help you. You may quest for bus reports, inquiries, booking, departure, delivery of goods, express booking and so much more within our capacity. Our competent team do not let you down with the excellence provided handy. So, whenever you travel, make sure your tickets are booked by us!
 
    <p>Our dream is to make the clients feel the bliss as they travel with us and make us feel honored to help them have a memorable journey.
</div>
{% endblock %}