{% extends 'base.html' %}

{% block title %}Dashboard | TravelPlanner{% endblock %}

{% block content %}
<div class="container text-center" style="height: 500px; background-size: cover; background-image: url({{ url_for('static', filename='images/bg-contact-us.jpg') }});">
    <h1>Contact Us</h1>
    <p>Feel free to contact us using the information below.</p>
    <h3>Phone number: 0333-9999999</h3>
    <h3>E-mail: travelplanner@google</h3>
    <h3>Address: 11 Wall Street, NYC, NYC.</h3>
</div>
{% endblock %}